<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>408630826966-pi8tbvdacge47ucvr1dlqkjq7d8rpl8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408630826966-pi8tbvdacge47ucvr1dlqkjq7d8rpl8o</string>
	<key>API_KEY</key>
	<string>AIzaSyCUWVqY9836RUxFDKR3BN8gVqPOwQJW0aU</string>
	<key>GCM_SENDER_ID</key>
	<string>408630826966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ownApplicationDevelopment.WorldOfPhotos</string>
	<key>PROJECT_ID</key>
	<string>worldofphotos-2cce1</string>
	<key>STORAGE_BUCKET</key>
	<string>worldofphotos-2cce1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408630826966:ios:dfd81e059b610586</string>
	<key>DATABASE_URL</key>
	<string>https://worldofphotos-2cce1.firebaseio.com</string>
</dict>
</plist>